body{
    background: linear-gradient(86deg, #ffffff, #f5c734);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    -o-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 19%}
    50%{background-position:100% 82%}
    100%{background-position:0% 19%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 19%}
    50%{background-position:100% 82%}
    100%{background-position:0% 19%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 19%}
    50%{background-position:100% 82%}
    100%{background-position:0% 19%}
}
@keyframes AnimationName {
    0%{background-position:0% 19%}
    50%{background-position:100% 82%}
    100%{background-position:0% 19%}
}
.p1{
    font-family: "Sawarabi Mincho";
    font-size:200px;
    color:gold;
    text-shadow:rgb(75, 75, 75) 2px 1px 10px;
}
.p2 a{
    font-family: "Sawarabi Mincho";
    font-size:40px;
    color:gold;
    text-decoration:none;
    position:absolute;
    margin-top:5vh;
    margin-left:155vh;
    filter: blur(1px);
}
.p3 a{
    font-family: "Sawarabi Mincho";
    font-size:40px;
    color:gold;
    text-decoration:none;
    position:absolute;
    margin-top:5vh;
    margin-left:30px;
    filter: blur(1px); 
}
.p4{
    font-family: 'Times New Roman', Times, serif;
    position:absolute;
    margin-top:15vh;
    margin-left:30px;
    color:gold;
    font-size:20px;
    width:400px;
}
.p4:hover{
    color:white;
}
.p5{
    font-family: 'Times New Roman', Times, serif;
    position:absolute;
    margin-top:60vh;
    margin-left:600px;
    color:gold;
    font-size:20px;
    width:400px;
}
.p5:hover{
    color:white;
}
.p6{
    font-family: 'Times New Roman', Times, serif;
    position:absolute;
    margin-top:140vh;
    margin-left:800px;
    color:gold;
    font-size:20px;
    width:400px;
}
.p6:hover{
    color:white;
}
