body{
    background-color: black;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    font-family: "Sawarabi Mincho";
}
.half-background {
    background: linear-gradient(to right, white 50%, black 50%);
    height: 110vh;
    width: 100%;
    position: relative;
  }
  .p1{
    position: absolute;
    top: 50%;
    text-align: left;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: black;
    font-size:200px;
    text-decoration: none;
    margin-top:13vh;
    font-family: "Sawarabi Mincho";
  }
  .p2{
    position: absolute;
    top: 50%;
    text-align: right;
    width: 100%;
    font-size: 24px;
    color: white;
    font-size:200px;
    text-decoration: none;
    margin-top:-50vh;
    font-family: "Sawarabi Mincho"; 
  }
  .p3{
    font-size: 12px;
    text-align-last: center;
    color: white;
    font-size:xx-large;
    margin-top:-50vh;
    margin-left:300vh;
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
  }