body{
    background-color: white;
    font-family:helvetica, arial, sans-serif;
}
.p1{
    color:blue;
    font-size: 3vw;
    font-family:arial;
    position:absolute;
    margin-left:20px;
}
.p2 a{
    color:blue;
    font-size: 3vw;
    font-family:arial;
    position:absolute;
    margin-left:20px;
    margin-top:600px;
}
.p3 a{
    color:blue;
    font-size: 3vw;
    font-family:arial;
    position:absolute;
    margin-left:20px;
    margin-top:110px;
}
.p4 a{
    color:blue;
    font-size: 3vw;
    font-family:arial;
    position:absolute;
    margin-left:20px;
    margin-top:175px;
}