body{
    background-color: white;
    font-family:helvetica, arial, sans-serif;
}
.p1 a{
    color:blue;
    font-size: 30px;
    font-family:arial;
    position:absolute;
    margin-left:20px;
    margin-top:20px;
    text-orientation: upright;
}
.p2 a{
    color:blue;
    font-size: 30px;
    font-family:arial;
    position:absolute;
    margin-left:180px;
    margin-top:20px;
    text-orientation: upright;
}
.map{
    width:230px;
    height:150px;
    position:absolute;
    margin-top:600px;
    margin-left:1100px;
    text-orientation: upright;
}
.p3 a{
    color:blue;
    font-size: 30px;
    font-family:arial;
    position:absolute;
    margin-left:280px;
    margin-top:20px;
    text-orientation: upright;
}
.p4 a{
    color:blue;
    font-size: 30px;
    font-family:arial;
    position:absolute;
    margin-left:450px;
    margin-top:20px;
    text-orientation: upright;
}
.p5 a{
    color:blue;
    font-size: 30px;
    font-family:arial;
    position:absolute;
    margin-left:580px;
    margin-top:20px;
    text-orientation: upright; 
}
.p6 a{
    color:blue;
    font-size: 30px;
    font-family:arial;
    position:absolute;
    margin-left:710px;
    margin-top:20px;
    text-orientation: upright; 
}
.p7 a{
    color:blue;
    font-size: 30px;
    font-family:arial;
    position:absolute;
    margin-left:890px;
    margin-top:20px;
    text-orientation: upright; 
}
.p8 a{
    color:blue;
    font-size: 20px;
    font-family:arial;
    position:absolute;
    margin-left:20px;
    margin-top:360px;
}