body{
    background-color:rgb(34, 34, 34);
}
.p1{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:80px;
    position:absolute;
    margin-top:0;
    margin-left:0;
    letter-spacing:-2px;
}
.p2{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:80px;
    position:absolute;
    margin-top:65px;
    margin-left:0;
    letter-spacing:-2px;
}
.p3{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:90px;
    position:absolute;
    text-align:center;
    margin-top:220px;
    margin-left:560px;
    letter-spacing:0px; 
}
.p4{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:90px;
    position:absolute;
    text-align:center;
    margin-top:450px;
    margin-left:460px;
    letter-spacing:0px; 
} 
.p5{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:70px;
    position:absolute;
    text-align:center;
    margin-top:650px;
    margin-left:0px;
    letter-spacing:-2px; 
}
.p6{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:70px;
    position:absolute;
    text-align:center;
    margin-top:708px;
    margin-left:0px;
    letter-spacing:-2px; 
}
.box{
    background-color: green;
    background-image: radial-gradient(red, green, yellow);
    width:270px;
    height:188px;
    position:absolute;
    margin-top:290px;
    margin-left:585px;
}
.box:hover + .p7{
  display:block;  
  color:white;
}
.p7{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    position:absolute;
    margin-top:780px;
    margin-left:0px;
    font-weight: 100;
}
.p8{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    position:absolute;
    margin-top:780px;
    right:0;
    font-weight:100;
}
.p9{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    position:absolute;
    margin-top:780px;
    margin-left:650px;
    font-weight:900;
}