/* body{
    background-color: white;
    font-family:arial, sans-serif; 
}
.p1{
    font-family: sans-serif;
    color:blue;
    text-decoration-line:line-through;
    position:fixed;
    font-size:40px;
    filter:blur(1px);
    top:0;
}
.p1:hover{
    filter:none;
}
.p2 a{
    font-family:sans-serif;
    color:blue;
    font-size:40px;
    text-decoration:none;
    position:fixed;
    text-decoration-line:line-through;
    filter:blur(1px);
    top:0;

}
.p2 a:hover{
    filter:none;
}
.p3 a{
    font-family:sans-serif;
    color:blue;
    font-size:40px;
    text-decoration:none;
    position:fixed;
    text-decoration-line:line-through;
    filter:blur(1px);
    top:0;

}
.p3 a:hover{
    filter:none;
}
.p4 a{
    font-family:sans-serif;
    color:blue;
    font-size:40px;
    text-decoration:none;
    position:fixed;
    text-decoration-line:line-through;
    filter:blur(1px);
    top:0;
}
 */

 body{
    background-color:white;
    font-family:Arial, Helvetica, sans-serif;
 }

 .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  
  .col a{
    flex: 1;
    padding: 0 10px;
    font-family:sans-serif;
    color:blue;
    font-size:38px;
    text-decoration:none;
    text-decoration-line:line-through;
    filter:blur(1px);
  }

.p4 a:hover{
    filter:none;
}
.slide-left{
    filter:blur(2px);
}
.slide-right{
    filter:blur(2px);
}
  
  @media screen and (max-width: 767px) {
    .col {
      flex-basis: 100%;
      margin-bottom: 10px;
    }
  }
  
