.p1{
    color:blue;
    text-decoration-line:line-through;
    font-size: 40px;
    font-family:arial;
    position:absolute;
}
.p2{
    color:blue;
    font-size: 20px;
    font-family:arial;
    bottom:0;
    position:absolute;
}