body{
    margin: 0;
    background-color:#F7F5F2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}
h4, h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 80vw;
    margin-left: 10vw;
}
h4{
    font-size: 40px;
    font-weight: 500;
    line-height: 95%;
    text-align: center;
}
h5{
    font-size: 30px;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
}
p{
    font-size: 17px;
    font-weight: 100;
}
.subheader{
    font-weight: 700;
}
#large-screen{
    display: none;
}
#medium-screen{
    display: none;
}
#navigation-bar{
    position: sticky;
    top: 0px;
    height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    z-index: 10;
}
#navigation-bar h1{
    font-size: 25px;
    font-weight: 600;
    line-height: 14px;
    margin-left: 15px;
}

.filler{
flex-basis: 80%; 
}

#navigation-bar h2{
   font-size: 17px;
   font-weight: 100;
   line-height: 20px;
   margin-right: 10px;
   margin-top: 0px;
   box-sizing: border-box;
   height: 50px;
   padding: 15px 15px 20px;
   
}
#navigation-bar i{
    margin: 25px 15px;
}

#section1{
    background-color: #F7F5F2;
}

#section1 > p{
    width: 70vw;
    margin-top: -20px;
    margin-left: 15vw;
    text-align: center;
}

#photo{
    padding:50px;
    width: 90vw;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    max-width: 2000px;
}

#section2{
    background-color:#F7F5F2;
    padding: 20px 0px;
}

#section3{
    background-color:#F7F5F2;
    padding: 0vw 7.5vw 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4vw;
}

#section3 > div{
    display: flex;
    flex-direction: column;
    padding-bottom: 5vw;
}

#section3 img{
    width: 300px;
    height: 300px;
    flex-basis: 30%;
    border-style:solid;
    border-color:gainsboro;
    border-width: 30px;
}

#section3 p{
    flex-basis: 60%;
}

.link{
    text-decoration: underline;
    flex-basis: 10%;
    font-weight: 600;
}


#section4{
    margin-top: -50px;
    background-color:#F7F5F2;
    text-align: center;
    padding-bottom: 50px;
}

#section4 > p{
    width: 80vw;
    margin-top: -20px;
    margin-left: 10vw;
    text-align: center;
    text-decoration: underline;
}


#section5{
    padding: 30px 0px;;
    background-color:#F7F5F2;
}
#flex{
    display: flex;
    flex-direction: column;
}

#section5 > div > div{
    margin: 5vw;
    width: 90vw;
    background: dimgray;
    text-align: left;
}

#section5 > div > div > h5{
    margin: 5vw;
 text-align: left;
}

#section5 p{
  padding: 0vw 5vw 10px;
}



#section5 > div > div > div > p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 25px 25px;
    width: 90%;
    margin: 0% 5% 5%;
    background-color:#2263F5;
    color: white;
    font-weight: 600;
}


#section6{
padding-top: 100px;
background-color: black;
color: white;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-gap: 4vw 1vw;
}

#section6 li{
    list-style-type: none;
    margin-top: 20px;
}


@media only screen and (min-width: 768px) {
    #medium-screen{
        display: contents; 
        width: 150px;
        height: fit-content;
        margin-top: 5px;
        text-align: center;
    }

    #medium-screen > h2{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5px;
        max-width: 150px; 
        height: 40px;
        padding: 10px 15px 20px;
        background-color: #2263F5;
        flex-basis: 40%;
        line-height: 20px;
        color: white;
    
    }

    #flex{
        padding: 0px 5vw 5vw;;
        flex-direction: row;
    }
    
    #section5 > div > div{
        margin: 0;
        width: 45vw;

    }

#section6{
    padding-top: 100px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 4vw 1vw;
    }
    
    #section6 li{
        list-style-type: none;
        margin-top: 20px;
    }

@media only screen and (min-width: 992px) {
    #section3{
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
         padding: 5vw 10vw;
         grid-gap: 50px;
        }

   #section6{
    max-height: 860px;
    padding: 0px 2vw 0px;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content;
    grid-template-areas:
    "description example"
    "list example";
   }

   #list{
    margin: 0;
    height: 100%;
    padding: 0px 1vw 0px 0px;
   }

   #section6{
    grid-template-columns: 1fr 1fr 1fr;
}

#section6{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 100px
} 

}

@media only screen and (min-width: 1200px) {
    #large-screen{
        display: contents;
        list-style-type: none;
        font-size: 17px;
        font-weight: 100;
        line-height: 50px;
    }

    #navigation-bar{
        justify-content: space-between;
    }
    .filler{
        display: none;
       }

    #filler{
        flex-basis: 23%;
    }

    #large-screen > li{
        padding: 0px 10px;
    }

    #large-screen > li:hover{
        background-color:#F1EEE9;
    }

    #navigation-bar i{
        display: none;
    }
    }
}
