body{
    background-color: black;
}
.scroll{
    width:390px;
    height:770px;
    margin-left:66vh;
}
.moving-image{
    width:100px;
    height:230px;
    position:absolute;
    animation:move-down 13.5s;
    margin-left:1vh;
}
@keyframes move-down{
    100%{
        top:100;
    }
    50%{
        top:0%;
    }
    0%{
        top:-120%;
    }
}
.delay a{
    font-family: "Sawarabi Mincho";
    font-size:40px;
    color:white;
    text-decoration:none;
    position:absolute;
    margin-left:170vh;
    margin-top:90vh;
    filter: blur(1px);
    animation-name: fade-in;
    animation-delay: 5.5s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fade-in {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
.delay2 a{
    font-family: "Sawarabi Mincho";
    font-size:40px;
    color:white;
    text-decoration:none;
    position:absolute;
    margin-left:5vh;
    margin-top:90vh;
    filter: blur(1px);
    animation-name: fade-in;
    animation-delay: 5.5s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fade-in {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}