.p1{
    color:blue;
    font-size: 30px;
    font-family:arial;
    position:absolute;
    margin-left:20px;
}
.p2 a{
    color:blue;
    font-size: 20px;
    font-family:arial;
    position:absolute;
    margin-left:20px;
    margin-top:700px;
    }
.p3 a{
    color:blue;
    font-size: 30px;
    font-family:arial;
    position:absolute;
    margin-left:20px;
    margin-top: 80px;
    }
.p4 a{
    color:blue;
    font-size: 30px;
    font-family:arial;
    position:absolute;
    margin-left:20px;
    margin-top: 200px;
    }
            