body{
    background-color:black;
}

.line2 {
    border-bottom: 1px solid white;
    width:150vw;
    margin-left: -1vw;
    margin-bottom:20vh;
  }
  
.p1{
    font-family:Arial, Helvetica, sans-serif;
    font-size:2vh;
    color:white;
    position:absolute;
    margin-left:3vw;
    margin-top:5vh;
}

.p2flex{
    display:flex;
    position:absolute;
}

.p5Canvas {
    width: 80% !important;
    height: 100% !important;
}

.p2{
    font-family:Arial, Helvetica, sans-serif;
    font-size:3vh;
    color:white;
    position:absolute;
    margin-left:17vw;
    margin-top:7.5vh;  
}

.kor{
    width:300px;
    height:500px;
    position:absolute;
    margin-left:21.2vw;
    margin-top:100vh;
    margin-bottom:20vh;
}

.kor:hover{
    width:320px;
    height:520px;
}

.us{
    width:300px;
    height:500px;
    position:absolute;
    margin-left:53vw;
    margin-top:100vh;
    margin-bottom:20vh;
}

.us:hover{
    width:320px;
    height:520px;
}