body{
    background-color:blue;
}

.line2 {
    border-bottom: 1px solid white;
    width:150vw;
    margin-left: -1vw;
    margin-bottom:20vh;
  }
  
.p1{
    font-family:Arial, Helvetica, sans-serif;
    font-size:2.2vw;
    color:white;
    position:fixed;
    margin-left:17px;
    top:1;
}

.p2flex{
    display:flex;
    position:absolute;
}

.p2{
    font-family:Arial, Helvetica, sans-serif;
    font-size:3vh;
    color:white;
    position:absolute;
    margin-left:17vw;
    margin-top:7.5vh;  
}

.kor{
    width:300px;
    height:500px;
    position:absolute;
    margin-left:19vw;
    margin-top:18vh;
    margin-bottom:20vh;
    padding:60px;
}

.kor:hover{
    width:320px;
    height:520px;
}

.us{
    width:300px;
    height:500px;
    position:absolute;
    margin-left:49vw;
    margin-top:18vh;
    margin-bottom:-40vh;
    padding:60px;
}

.us:hover{
    width:320px;
    height:520px;
}

@media screen and (max-width: 768px) {
    .kor,
    .us {
        width: 50%;
        height: auto;
        margin-top:10px;
        margin: 10px;
        padding: 50px;
        position: static;
    }
}