.us{
    position:absolute;
    width:89px;
    height:60px;
    margin-left:82vw;
    margin-top:2vh;
}

select {
    margin: 40px;
    position: relative;
    margin-left:90vw;
}
.calender{
    border: 1px solid black;
    background-color: white;
    padding-top: 2vw;
    padding-right: 3vh;
    padding-bottom: 700vw;
    padding-left: 3vh;
}

.dot{
    display:inline-block;
    height: 2vw;
    width: 4vh;
    background-color:black;
    border-radius: 50%;
    margin:3.1vh;
    margin-top:5vh;
    margin-left:8.1vh;

}


.p1{
    color: black;
    font-size:15vw;
    margin-left:1.5vw;
    margin-top:26vh;
    font-family:Arial, Helvetica, sans-serif;
}

.grid1{
    display: grid;
    position:relative;
    grid-template-columns: 13vw 13vw 13vw 13vw 13vw 13vw 13vw 13vw;
    gap: 0px;
    background-color: white;
    padding: 2vw;
    text-align: center;
    text-align:justify;
    margin-top:10vh;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 4vw;


}

.grid1 > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 4vw;
    
  }

  .grid2{
    display: grid;
    position:absolute;
    grid-template-columns: 13vw 13vw 13vw 13vw 13vw 13vw 13vw;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px;
    background-color: white;
    padding: 2vw;
    font-family:Arial, Helvetica, sans-serif;

}

.grid2 > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 5vw;
    align-content: center;
  }  
  
  .div1:hover{
    filter:blur(5px);
  }

  .red{
    font-size:70px;
    color:black;
    text-decoration:none;
    text-align:center;
    display: grid;
    position:absolute;
    grid-template-columns: 12.8vw;
    grid-template-rows: 298px;
    border: 1.5px solid black;  
  }

  .red:hover{
    background-color:red;
    grid-template-columns:13vw;
    grid-template-rows:300px;
    border: 2px red; 
  }

  .green{
    font-size:70px;
    color:black;
    text-decoration:none;
    text-align:center;
    display: grid;
    position:absolute;
    grid-template-columns: 12.8vw;
    grid-template-rows: 298px;
    border: 1.5px solid black;  
  }

  .green:hover{
    background-color:green;
    grid-template-columns:13vw;
    grid-template-rows:300px;
    border: 2px green; 
  }

  .yellow{
    font-size:70px;
    color:black;
    text-decoration:none;
    text-align:center;
    display: grid;
    position:absolute;
    grid-template-columns: 12.8vw;
    grid-template-rows: 298px;
    border: 1.5px solid black;  
  }

  .yellow:hover{
    background-color:yellow;
    grid-template-columns:13vw;
    grid-template-rows:300px;
    border: 2px yellow; 
  }

  .blue{
    font-size:70px;
    color:black;
    text-decoration:none;
    text-align:center;
    display: grid;
    position:absolute;
    grid-template-columns: 12.8vw;
    grid-template-rows: 298px;
    border: 1.5px solid black;  
  }

  .blue:hover{
    background-color:blue;
    grid-template-columns:13vw;
    grid-template-rows:300px;
    border: 2px blue; 
  }