.A{
    width:150px;
    height:150px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:black;
    background-image:url(wood_texture4.jpeg);
    background-size:cover;
}

.B{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black; 
}

.C{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black;
}

.D{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black; 
}

.E{
    width:150px;
    height:150px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:black;
    background-image:url(wood_texture4.jpeg);
    background-size:cover;
}

.F{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black; 
}

.G{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black;
}

.H{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black; 
}

.I{
    width:130px;
    height:130px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:black;
    background-image:url(wood_texture4.jpeg);
    background-size:cover;
    border: 2px solid red;
}

.J{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black; 
}

.K{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black;
}

.L{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black; 
}

.M{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black;
}

.N{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black; 
}

.O{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black;
}

.P{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black; 
}

.Q{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black;
}

.R{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black; 
}

.S{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black;
}

.T{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black;
}

.U{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black; 
}

.V{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black;
}

.W{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black; 
}

.X{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black;
}

.Y{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black; 
}

.Z{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black;
}